.news__author {
  position: relative;
  top: 7.4vh;
  font-family: 'Roboto Slab', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.11vw;
  line-height: 1.32vw;
  letter-spacing: 0.03vw;
  text-transform: uppercase;
  color: #B6BCBF;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .news__author {
    top: 8.2vw;
    font-size: 2.11vw;
    height: 10vw;
  }
}

@media screen and (max-width: 460px) {
  .news__author {
    top: 11.2vw;
    font-size: 2.11vw;
    height: 13vw;
  }
}

@media screen and (max-width: 320px) {
  .news__author {
    top: 29.2vw;
    left: 3.4vw;
    font-size: 5.11vw;
    height: 16vh;
  }
}