.menu__item-main-text.menu__item-main-text_save {
  padding-bottom: 24.8px;
  border-bottom: 2.8px solid #1A1B22;
}

@media screen and (max-width: 768px) {
  .menu__item-main-text.menu__item-main-text_save {
    padding-bottom: 20.8px;
  }
}