@media screen and (max-width: 320px) {
  .popup__content_mobile-320 {
    width: 100vw;
    top: -99vw;
    left: 0vw;
    min-height: 127vw;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #1A1B22;
  }
}