@media screen and (max-width: 320px) {
  .popup__content_mobile-320 {
    width: 94.3vw;
    top: -60vw;
    left: 0vw;
    min-height: 88.4vw;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4.5vw;
    border-bottom-right-radius: 4.5vw;
    background-color: #1A1B22;
    display: flex;
  }
}