@import url(./__img/news__img.css);
@import url(./__img-share/news__img-share.css);
@import url(./__container-img/news__container-img.css);
@import url(./__about/news__about.css);
@import url(./__date/news__date.css);
@import url(./__title/news__title.css);
@import url(./__resume/news__resume.css);
@import url(./__author/news__author.css);
@import url(./__container-img-info/news__container-img-info.css);

.news {
  max-width: 32%;
  min-height: 576px;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  position: relative;
  margin-top: 16px;
  border-radius: 20px;
  background-color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .news {
      min-height: 420px;
      max-width: 32.465%;
      margin-right: 6px;
      margin-top: 11px;
  }
}

@media screen and (max-width: 320px) {
  .news {
    min-height: 441px;
    max-width: 98%;
    margin-right: 6px;
    margin-top: 11px;
    top: -5vw;
  }
}