@import url(./_succes/popup__content_succes.css);
@import url(./_mobile-320/popup__content_mobile-320.css);

.popup__content {
  display: flex;
  flex-direction: column;
  width: 30vw;
  min-height: 380px;
  background-color: #fff;
  border-radius: 15px;
  position: relative;
  top: 1.21vw;
  left: 35vw;
  box-sizing: border-box;
  padding: 34px 36px;
}