@import url(./__menu/header__menu.css);
@import url(./__main/header__main.css);
@import url(./__title/header__title.css);
@import url(./__subtitle/header__subtitle.css);
@import url(./__search/header__search.css);
@import url(./__form/header__form.css);
@import url(./__input/header__input.css);
@import url(./__button/header__button.css);

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url('../../../../images/georgia.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: 'Roboto Slab', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.33vw;
  min-height: 40vw;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .header {
    background-image: url('../../../../images/georgia768.png');
    font-size: 2.6vw;
    height: 51.9vw;
  }
}

@media screen and (max-width: 320px) {
  .header {
    background-image: url('../../../../images/georgia320.png');
    font-size: 4.8vw;
    height: 167.5vw;
  }
}