.news__container-img {
  height: 18.9vw;
}

@media screen and (max-width: 768px) {
  .news__container-img {
    height: 19.5vw;
  }
}

@media screen and (max-width: 460px) {
  .news__container-img {
      height: 28.5vw;
  }
}

@media screen and (max-width: 320px) {
  .news__container-img {
    height: 47.85vw;
    border-top-right-radius: 4.3vw;
    border-top-left-radius: 4.3vw;
  }
}