.header__subtitle {
  max-width: 37vw;
  height: 3.3vw;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25vw;
  line-height: 1.67vw;
  margin: 0 0 4.49vw 0;
}

@media screen and (max-width: 768px) {
  .header__subtitle {
    max-width: 60.81vw;
    top: 2.8vw;
    left: 1.3vw;
    position: relative;
    font-size: 2.34vw;
    line-height: 3.28vw;
    margin: 0 0 12.49vw 0;
  }
}

@media screen and (max-width: 320px) {
  .header__subtitle {
    max-width: 89vw;
    top: 24.99vw;
    left: -0.9vw;
    position: relative;
    font-size: 5.66vw;
    line-height: 7.81vw;
    margin: 0;
  }
}