.header__subtitle {
  max-width: 545px;
  height: 48px;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25vw;
  line-height: 24px;
  margin: 0 0 64px 0;
}

@media screen and (max-width: 768px) {
  .header__subtitle {
    max-width: 494px;
    top: -4vw;
    left: 3.1vw;
    position: relative;
    font-size: 2.25vw;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .header__subtitle {
    max-width: 282px;
    top: -12vw;
    left: -0.9vw;
    position: relative;
    font-size: 5.5vw;
    margin: 0;
  }
}