.news__img-share_two {
  position: absolute;
  top: 5vh;
  right: 2.7vw;
  z-index: 2;
  opacity: 0.5;
}

.news__img-share_two:hover {
  cursor: pointer;
  opacity: 1;
}

.news__img-share_two:focus {
  outline: none;
  /* background-image: url(../../../../../../images/Rectangle9.png); */
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .news__img-share_two {
    width: 7%;
    min-height: 5.3%;
  }
}

@media screen and (max-width: 550px) {
  .news__img-share_two {
    width: 6%;
    min-height: 4.3%;
    top: 2.6vw;
    right: 2.82vw;
  }
}

@media screen and (max-width: 460px) {
  .news__img-share_two {
    width: 5%;
    min-height: 4.5%;
    top: 4.6vw;
    right: 4.82vw;
  }
}

@media screen and (max-width: 320px) {
  .news__img-share_two {
    min-height: 4%;
    width: 5%;
    top: 8.4vw;
    right: 9vw;
  }
}