@media screen and (max-width: 320px) {
  .menu__item-signin-text.menu__item-signin-text_mobile {
    color: white;
    position: absolute;
    top: 41vw;
    left: 0vw;
    width: 80vw;
    text-align: center;
    font-size: 5.6vw;
    display: none;
  }
}