.popup__error.popup__error_signin-form {
  top: 36vh;
  left: 8vw;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1vw;
}

@media screen and (max-width: 320px) {
  .popup__error.popup__error_signin-form {
    top: 247px;
    left: 90px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
  }
}

