.popup__error.popup__error_signin-form {
  top: 235px;
  left: 197px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

@media screen and (max-width: 320px) {
  .popup__error.popup__error_signin-form {
    top: 159px;
    left: 138px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
  }
}

