@import url(./__list/menu__list.css);
@import url(./__item-main-text/menu__item-main-text.css);
@import url(./__item-signin-text/menu__item-signin-text.css);

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-right: 108px;
}