.result__title {
  display: none;
  position: relative;
  top: 4.5vw;
  left: 7vw;
  font-family: 'Roboto Slab', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.8vw;
  line-height: 3vw;
  color: #1A1B22;
  margin: 1.2vw 0 2.39vw 0;
}

@media screen and (max-width: 768px) {
  .result__title {
    top: 5.1vw;
    left: 5vw;
    font-size: 3.94vw;
  }
}

@media screen and (max-width: 460px) {
  .result__title {
    margin: 1.2vw 0 3.39vw 0;
  }
}

@media screen and (max-width: 320px) {
  .result__title {
    top: 8.1vw;
    width: 1vw;
    left: 5vw;
    font-size: 9.4vw;
    line-height: 11vw;
    margin: 1vw 0 11.39vw 0;
  }
}