.result__container {
  width: 87vw;
  position: relative;
  top: 5.4vw;
  left: 7.1vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0.1vw 0 0 0;
}

@media screen and (max-width: 768px) {
  .result__container {
    max-width: 92vw;
    width: 91vw;
    top: 5.9vw;
    left: 5.4vw;
    margin-bottom: 8vw;
  }
}

@media screen and (max-width: 460px) {
  .result__container {
    width: 89vw;
  }
}

@media screen and (max-width: 320px) {
  .result__container {
    top: 5.1vw;
    max-width: 92vw;
    width: 89vw;
    left: 5vw;
    font-size: 9.4vw;
    line-height: 11vw;
  }
}