@import url(./_two/news__img-share_two.css);
@import url(./_about/news__img-share_about.css);
@import url(./_about-text/news__img-share_about-text.css);
@import url(./_title/news__img-share_title.css);
@import url(./_title-text/news__img-share_title-text.css);

.news__img-share {
  width: 10%;
  position: absolute;
  top: 1.7vw;
  right: 1.7vw;
  z-index: 1;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .news__img-share {
    width: 17.6%;
    top: 1.1vw;
    right: 1.5vw;
  }
}

@media screen and (max-width: 460px) {
  .news__img-share {
    width: 13%;
    top: 3vw;
    right: 3vw;
  }
}

@media screen and (max-width: 320px) {
  .news__img-share {
      width: 14%;
      top: 5.1vw;
      right: 5vw;
  }
}