@import url(./__list/menu__list.css);
@import url(./__item-main-text/menu__item-main-text.css);
@import url(./__item-signin-text/menu__item-signin-text.css);
@import url(./__item-signin-text/_signin/menu__item-signin-text_signin.css);
@import url(./_save-news/menu_save-news.css);
@import url(./_signin-news/menu_signin-news.css);

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1A1B22;
  margin-right: 108px;
}