.author__foto {
  position: relative;
  top: 5.65vw;
  left: 7.3vw;
  width: 32%;
  height: 28.25%;
  border-radius: 550px;
}

@media screen and (max-width: 768px) {
  .author__foto {
    top: 7.95vw;
    left: 5.3vw;
    width: 30%;
    height: 30vw;
  }
}

@media screen and (max-width: 320px) {
  .author__foto {
    top: 11.6vw;
    left: 7.3vw;
    width: 85%;
    height: 85vw;
  }
}