@media screen and (max-width: 320px) {
  .popup__close.popup__close_mobile-loggedin {
    width: 14px;
    position: absolute;
    top: 19px;
    right: 15px;
    cursor: pointer;
    color: white;
    z-index: 1;
  }
}