.news__img-share_title-text {
  position: absolute;
  width: 20%;
  max-width: 100%;
  top: 2.55vw;
  left: 2.2vw;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.69vw;
  line-height: 12px;
  color: #000000;
  text-decoration: none;
  z-index: 3;
  cursor: context-menu;
}

@media screen and (max-width: 910px) {
  .news__img-share_title-text {
    top: 2.4vw;
  }
}

@media screen and (max-width: 768px) {
  .news__img-share_title-text {
    display: none;
  }
}
