@import url(./_mobile/popup__title_mobile.css);

.popup__title {
  margin: 0;
  font-size: 1.69vw;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: 28px;
}

@media screen and (max-width: 768px) {
  .popup__title {
    font-size: 3vw;
  }
}

@media screen and (max-width: 320px) {
  .popup__title {
      font-size: 7vw;
      position: relative;
      top: -5.5vw;
  }
}