.header__title {
  position: relative;
  top: 1.5vw;
  left: 7.2vw;
  max-width: 610px;
  height: 128px;
  font-family: 'Roboto Slab', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3vw;
  line-height: 61px;
  letter-spacing: -0.1vw;
  margin: 0;
  color: #1A1B22;
}

@media screen and (max-width: 768px) {
  .header__title {
    top: 0.3vw;
    left: 5.2vw;
    max-width: 396px;
    font-size: 4vw;
    line-height: 47px;
    letter-spacing: -0.1vw;
    margin: 0;
    color: #1A1B22;
  }
}

@media screen and (max-width: 320px) {
  .header__title {
    top: 1.3vw;
    max-width: 286px;
    font-size: 9.5vw;
    line-height: 36px;
  }
}