.popup__button.popup__button_result {
  width: 20%;
  position: relative;
  top: 0;
  margin-top: 125px;
  margin-bottom: 80px;
  align-self: center;
  background-color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .popup__button.popup__button_result {
    width: 31%;
    height: 7vw;
    top: 2vw;
    left: 1vw;
    font-size: 1.3vw;
    margin: 0;
  }
}