.news__img-share_about-text {
  position: absolute;
  width: 40%;
  max-width: 100%;
  top: 2.65vw;
  left: 11.1vw;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.99vw;
  line-height: 12px;
  color: #000000;
  text-decoration: none;
  z-index: 3;
  display: none;
}

@media screen and (max-width: 910px) {
  .news__img-share_about-text {
    top: 2.4vw;
  }
}
