.news__img-share_about-text {
  position: absolute;
  max-width: 100%;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.99vw;
  line-height: 12px;
  color: #000000;
  text-decoration: none;
  z-index: 3;
  display: none;
}

@media screen and (max-width: 460px) {
  .news__img-share_about-text {
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 320px) {
  .news__img-share_about-text {
    font-size: 3vw;
  }
}