@media screen and (max-width: 320px) {
  .popup__title.popup__title_mobile {
    border-bottom: 0.3px solid white;
    font-size: 5.3vw;
    position: relative;
    color: white;
    top: 32vw;
    right: 17vw;
    width: 94.7vw;
    padding: 0px 0px 10px 32px;
    font-size: 5.3vw;
  }
}