@import url(./_save-news/menu__list_save-news.css);

.menu__list {
  width: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  list-style-type: none;
  margin: 0;
  padding-top: 5px;
}