@import url(./_save-news/menu__list_save-news.css);
@import url(./_mobile/menu__list_mobile.css);

.menu__list {
  width: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto Slab', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2vw;
  line-height: 24px;
  list-style-type: none;
  margin: 0;
  padding-top: 5px;
}

@media screen and (max-width: 768px) {
  .menu__list {
    position: relative;
    left: 7vw;
    font-size: 2.05vw;
    padding: 0;
  }
}