@import url(./_mobile/menu__item-signin-text_mobile.css);

.menu__item-signin-text {
  text-decoration: none;
  color: white;
  padding: 15px;
  border: 1px solid  rgba(255, 255, 255);
  border-radius: 50px;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2vw;
  line-height: 2.5vw;
}