.button.header__button {
  position: absolute;
  right: 0px;
  width: 27.5%;
  height: 4.346789vw;
  background-color: #2F71E5;
  border: 0;
  border-radius: 3vw;
  color: white;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3vw;
  line-height: 1vw;
  z-index: 1;
}

.button.header__button:hover {
  cursor: pointer;
  background-color: #347EFF;
}

.button.header__button:active {
  cursor: pointer;
  background-color: #1753fa;
}

.button.header__button::-moz-focus-inner {
  border: 0;
}

@media screen and (max-width: 768px) {
  .button.header__button {
    right: 1vw;
    width: 34%;
    font-size: 2.3vw;
    height: 7.4vw;
    border-radius: 4vw;
  }
}

@media screen and (max-width: 320px) {
  .button.header__button {
    left: 0vw;
    top: 104.77vw;
    width: 90vw;
    height: 17.5vw;
    font-size: 5.3vw;
    border-radius: 9vw;
  }
}