@import url(./_mobile/menu__item-signin-text_mobile.css);
@import url(./_signin/menu__item-signin-text_signin.css);

.menu__item-signin-text {
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2vw;
  line-height: 24px;
  color: #1A1B22;
  text-decoration: none;
  padding: 1vw 1.2vw;
  border: 1px solid #1A1B22;
  border-radius: 50px;
}

@media screen and (max-width: 768px) {
  .menu__item-signin-text {
    font-size: 2vw;
  }
}

@media screen and (max-width: 320px) {
  .menu__item-signin-text {
    display: none;
  }
}