@import url(./_mobile/menu__item-signin-text_mobile.css);

.menu__item-signin-text {
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2vw;
  line-height: 1vw;
  color: #1A1B22;
  text-decoration: none;
  padding: 0 0vw 1.7vw;
  border-bottom: 0.2vw solid #1A1B22;
}

@media screen and (max-width: 768px) {
  .menu__item-signin-text {
    font-size: 2.1vw;
    padding: 2.6vw 0vw;
    border-bottom: 0.3vw solid #1A1B22;
  }
}

@media screen and (max-width: 320px) {
  .menu__item-signin-text {
    display: none;
  }
}