.menu.menu_signin-news {
  display: block;
  padding: 0 7.5vw 0 0;
}

@media screen and (max-width: 768px) {
  .menu.menu_signin-news {
    padding: 0.4vw 12vw 0 0;
  }
}

@media screen and (max-width: 320px) {
  .menu.menu_signin-news {
    display: none;
  }
}