.header__save-text {
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25vw;
  line-height: 1.7vw;
  color: rgba(26, 27, 34, 0.5);
  position: relative;
  top: 0.2vw;
  margin: 0;
  left: 7.3vw;
}


@media screen and (max-width: 768px) {
  .header__save-text {
    font-size: 1.8vw;
    line-height: 1.7vw;
    color: rgba(26, 27, 34, 0.5);
    position: relative;
    top: -1vw;
    margin: 0;
    left: 5.3vw;
  }
}

@media screen and (max-width: 320px) {
  .header__save-text {
    font-size: 3.7vw;
    line-height: 1.7vw;
    color: rgba(26, 27, 34, 0.5);
    position: relative;
    top: -6.2vw;
    margin: 0;
    left: 5.3vw;
  }
}