.news__img-share.news__img-share_about-text {
  position: absolute;
  width: 40%;
  max-width: 100%;
  top: 2.65vw;
  left: 11.19vw;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.699vw;
  line-height: 12px;
  color: #000000;
  text-decoration: none;
  z-index: 3;
}

@media screen and (max-width: 768px) {
  .news__img-share.news__img-share_about-text {
    width: 55%;
    top: 3vw;
    left: 7.1vw;
    font-size: 0.9vw;
  }
}

@media screen and (max-width: 400px) {
  .news__img-share.news__img-share_about-text {
    width: 55%;
    top: 2vw;
    left: 6.1vw;
    font-size: 0.9vw;
  }
}

@media screen and (max-width: 320px) {
  .news__img-share.news__img-share_about-text {
    display: none;
  }
}