@import url(./_email-signin/popup__name_email-signin.css);
@import url(./_password-signin/popup__name_password-signin.css);
@import url(./_registr/popup__name_registr.css);
@import url(./_signin/popup__name_signin.css);
@import url(./_email-reg/popup__name_email-reg.css);
@import url(./_password-reg/popup__name_password-reg.css);
@import url(./_name/popup__name_name.css);

.popup__name {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 0.761vw;
  line-height: 15px;
  color: #2F71E5;
}