@import url(./__circle-preloader/preloader-block__circle-preloader.css);
@import url(./__text/preloader-block__text.css);
@import url(./_no-result/preloader-block_no-result.css);
@import url(./__img/preloader-block__img.css);

.preloader-block {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  background-color: #F5F6F7;
  margin: 14vh 0 13vh 0;
}