.menu_signin-news-two {
  max-width: 1440px;
  display: none;
}

@media screen and (max-width: 320px) {
  .menu.menu_signin-news-two {
    display: flex;
    width: 4.3vw;
    height: 0.6vw;
    position: relative;
    left: -6.5vw;
    top: -1vw;
    margin: 0;
    background-image: url(../../../../../images/Rectangle77.png);
    background-repeat: repeat;
    background-size: 1px 1px;
  }
}