.news__container-img {
  display: flex;
  height: 19vw;
}

@media screen and (max-width: 768px) {
  .news__container-img {
      height: 19.5vw;
  }
}

@media screen and (max-width: 460px) {
  .news__container-img {
      height: 28.5vw;
  }
}

@media screen and (max-width: 320px) {
  .news__container-img {
      height: 47.85vw;
  }
}