.popup__name_registr {
  position: relative;
  top: 16vh;
  left: 6.5vw;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  line-height: 1vw;
  color: #000000;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .popup__name_registr {
    top: 14.5vh;
    left: 12vw;
    font-size: 1.91vw;
  }
}

@media screen and (max-width: 320px) {
  .popup__name_registr {
    top: 29.8vh;
    left: 18vw;
    font-size: 4.62vw;
  }
}