@media screen and (max-width: 320px) {
  .menu__item-main-text.menu__item-main-text_mobile-two {
    position: absolute;
    border-bottom: 0;
    top: 44.4vw;
    right: 37vw;
    width: 55vw;
    display: flex;
    font-weight: 400;
    font-size: 5.63vw;
  }
}