.news__author {
  position: relative;
  top: 4.4vw;
  font-family: 'Roboto Slab', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.11vw;
  line-height: 1.32vw;
  letter-spacing: 0.03vw;
  text-transform: uppercase;
  color: #B6BCBF;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .news__author  {
    top: 8.4vw;
    left: 0.4vw;
    font-size: 2.11vw;
  }
}

@media screen and (max-width: 640px) {
  .news__author  {
    top: 9.4vw;
  }
}

@media screen and (max-width: 320px) {
  .news__author {
    top: 43.2vw;
    left: 3.4vw;
    font-size: 5.11vw;
  }
}