.news__img-share.news__img-share_two {
  background-image: url(../../../../../../images/ящик.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 5.5%;
  min-height: 3.3%;
  position: absolute;
  top: 2.49vw;
  right: 2.375vw;
  z-index: 2;
  opacity: 0.5;
}

.news__img-share.news__img-share_two:hover {
  cursor: pointer;
  opacity: 1;
}

.news__img-share.news__img-share_two:focus {
  outline: none;
  background-image: url(../../../../../../images/ящик.jpg);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .news__img-share.news__img-share_two {
    width: 2.5vw;
    min-height: 5.3%;
    top: 2.3vw;
    right: 2.9vw;
    background-image: url(../../../../../../images/ящик.jpg);
  }

  .news__img-share.news__img-share_two:hover {
    cursor: pointer;
    opacity: 1;
  }

  .news__img-share.news__img-share_two:focus {
    outline: none;
    background-image: url(../../../../../../images/ящик.jpg);
    opacity: 1;
  }
}

@media screen and (max-width: 320px) {
  .news__img-share.news__img-share_two {
    min-height: 5.9%;
    top: 7.4vw;
    right: 8.6vw;
    width: 5.5vw;
  }
}