.popup__name_signin {
  position: relative;
  top: 20.2vh;
  left: 10vw;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  line-height: 1vw;
  color: #000000;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .popup__name_signin {
    top: 20vh;
    left: 18.5vw;
    font-size: 2vw;
  }
}

@media screen and (max-width: 320px) {
  .popup__name_signin {
    top: 25vh;
    left: 34.5vw;
    font-size: 4.62vw;
  }
}