@import url(./_no-result/preloader-block__text_no-result.css);
@import url(./_no-result-two/preloader-block__text_no-result-two.css);

.preloader-block__text {
  position: relative;
  top: 49px;
  color: #333;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25vw;
  line-height: 24px;
  text-align: center;
  color: #B6BCBF;
  z-index: 4;
}