.menu__item-signin-text_signin {
  text-decoration: none;
  padding: 11px;
  border-bottom: 2.8px solid #1A1B22;
  border-radius: 50px;
  display: block;
}

@media screen and (max-width: 768px) {
  .menu__item-signin-text_signin {
    font-size: 2vw;
    padding: 7px;
  }
}

@media screen and (max-width: 320px) {
  .menu__item-signin-text_signin {
    display: none;
  }
}