.menu__item-signin-text_signin {
  text-decoration: none;
  border: 0;
  padding: 0 0 1.7vw;
  border-bottom: 2.8px solid #1A1B22;
  border-radius: 0;
  margin: 0;
  position: relative;
}

@media screen and (max-width: 768px) {
  .menu__item-signin-text_signin {
    font-size: 2vw;
    padding: 7px;
  }
}

@media screen and (max-width: 320px) {
  .menu__item-signin-text_signin {
    display: none;
  }
}