.author__about {
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .author__about {
    top: 5.1vw;
    position: relative;
  }
}

@media screen and (max-width: 320px) {
  .author__about {
    top: 22.1vw;
    width: 167%;
    left: -4.4vw;
  }
}