.news__img-share.news__img-share_about {
  width: 56%;
  position: absolute;
  top: 0.8vw;
  right: 3.4vw;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .news__img-share.news__img-share_about {
    display: none;
  }
}