.news__img {
  position: relative;
  width: 27.8vw;
  height: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  z-index: 0;
}

@media screen and (max-width: 768px) {
  .news__img {
    width: 29.07vw;
  }
}

@media screen and (max-width: 320px) {
  .news__img {
      width: 90.3vw;
      height: 61vw;
  }
}