@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/articles/header/header.css);
@import url(../blocks/articles/menu/menu.css);
@import url(../blocks/articles/logo/logo.css);
@import url(../blocks/articles/preloader-block/preloader-block.css);
@import url(../blocks/articles/result/result.css);
@import url(../blocks/articles/news/news.css);
@import url(../blocks/articles/popup/popup.css);
@import url(../blocks/articles/footer/footer.css);

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}