.popup__name_signin {
  position: relative;
  top: 147px;
  left: 143px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
}