.author__title {
  max-width: 496px;
  height: 46px;
  font-family: 'Roboto Slab', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.8vw;
  line-height: 3vw;
  margin-bottom: 22px;
}


@media screen and (max-width: 768px) {
  .author__title {
    position: relative;
    font-size: 4vw;
    top: 5.8vw;
    left: 0.2vw;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .author__title {
    position: relative;
    font-size: 9.1vw;
    top: 23.8vw;
    left: -4.5vw;
    margin: 0;
  }
}